@font-face {
    font-family: pixel;
    src: url('PokemonGb-RAeo.ttf');
}

body {
    background-color: #CADC9F;
    font-family: pixel;
}

.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
}

.column1 {
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    height: 60rem;
    width: 50rem;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    margin-left: 15%;
    text-align: center;
}

h1 img {
    height: 100px;
    width: 100px;
}

.bttn {
    margin-left: 15%;
    max-width: 90%;
}

.graphs {
    display: flex;
    flex-direction: column;
}

input {
    text-align: center;
    margin: 6px;
    min-height: 40px;
    min-width: 170px;
}
