.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
}


.bttn {
    flex-direction: column;
}

input {
    text-align: center;
    margin: 6px;
    min-width: 100px;
}

#table {
    
}

.graphs {
    flex-drection: column;
}